@model Form


 <div class="text-center">
    <h1 class="display-4">Yeni Form Oluştur</h1>
</div>
 
<form method="post" enctype="multipart/form-data"> 
<div class="row text">
    <div class="col-md-8 offset-2">
        <div class="form-group mb-3">
            <label asp-for="Name" class="control-label"> İsim</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Surname" class="control-label">Soyisim</label>
            <input asp-for="Surname" class="form-control">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Mail" class="control-label">Mail Adresi</label>
            <input asp-for="Mail" class="form-control" placeholder="john@mail.com">
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="PermissionStartDate" class="control-label">İzin Başlangıç Tarihi</label>
            <input asp-for="PermissionStartDate" class="form-control">
            <span asp-validation-for="PermissionStartDate" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="PermissionEndDate" class="control-label">İzin Bitiş Tarihi</label>
            <input asp-for="PermissionEndDate" class="form-control">
            <span asp-validation-for="PermissionEndDate" class="text-danger"></span>
        </div>
            <div class="form-group mb-3">
                <label asp-for="PermissionReason" class="control-label">İzin Nedeni </label>
                <input asp-for="PermissionReason" class="form-control">
                <span asp-validation-for="PermissionReason" class="text-danger"></span>
            </div>
      @*  <div class="form-group mb-3">
    <label asp-for="PermissionReason" class="control-label">İzin Nedeni</label>
            <select asp-for="PermissionReason" class="form-control">
        <option value="">Seçiniz</option>
                <option value="">Hastalık</option>
                <option value="">Yıllık İzin</option>
                <option value="">Doğum İzni</option>
                <option value="">Evlilik İzni</option>
    </select>
   *@
</div>

     @*  <div class="form-group mb-3">
             <a asp-controller="Form" asp-action="CreateForm" class="btn btn-outline-secondary">Gönder</a>
             <a href="/Home/Index/" class="btn btn-outline-secondary">Ana Sayfaya Dön</a>
        </div>  
        *@
         <div class="mt-2">
            <button type="submit" class="btn btn-primary me-2">Gönder</button>
            <a href="/Home/Index/" class="btn btn-outline-secondary">Ana Sayfaya Dön</a>
        </div> 
        
    </div>
</div> 
</form>






