@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-link {
            text-decoration: none;
            color: #333;
            transition: color 0.3s ease;
        }

            .form-link:hover {
                color: rgb(36, 152, 201);
            }

        .form-box {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h2 {
            margin-bottom: 20px;
        }

    </style>
</head>

<body>
    <div class="main-container">
        <div class="form-box">
            <a asp-controller="Form" asp-action="FormList" class="form-link">
                <h2 class="font-weight-bold" style="font-size: 3.5em;">İzin Talep İşlemleri </h2>
            </a>
            <p>İzin Talep İşlemleri Sayfasına Hoş Geldiniz</p>
        </div>
    </div>
</body>

</html>



